@tailwind base;
@tailwind components;
@tailwind utilities;

.seccion{
  stroke-width: 0.5px;
  cursor: pointer;
}
.seccion.selected{
  stroke-width: 5px;
}
.seccion:hover{
  stroke-width: 5px;
}
.seccion.text{
  cursor: pointer;
}
svg {
  width: 100%;
  height: auto;
}

body{
  color-scheme: dark;
}